@import url('https://fonts.googleapis.com/css?family=Roboto:500,900,100,300,700,400');

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-family: Arial, sans-serif;
  background-color: rgb(252, 248, 248);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@media (max-width: 768px) {

  body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

 .container {
    flex-grow: 1;
  }


  .artist-grid {
    grid-template-columns: 1fr;
    margin: 0;
  }

  .photo-grid {
    grid-template-columns: 1fr;
    margin: 0;
  }

   .photo-item {
    flex: 1 0 calc(100% - 40px);
    margin: 20px 0; 
  }

  .footer {
    padding: 20px;
    text-align: center;
    margin-top: auto;
  }
}


