.artists {
  padding: 50px;
}

.artist-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.artist-item {
  text-align: center;
  padding: 20px;
}

.artist-item a {
  text-decoration: none; 
  color: inherit; 
  display: block; 
}

.artist-item a:hover {
text-decoration: none;

}

.artist-item img {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-style: solid;
  border-color: black;
}

.artist-item h3 {
  margin-top: 10px;
}

/* artists */

h1 {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 40px;
  color: #e2acdb;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

/* artists */

.artist-page {
  padding: 20px;
}

.photo-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: -20px 20px;
  padding-bottom: 50px;
}

.photo-item {
  flex: 1 0 calc(50% - 40px);
  margin: 20px;
  box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.photo-item img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 400ms ease-out;
}

.photo-item:hover img {
  transform: scale(1.15);
}
