.artists {
  padding: 50px;
}

h1 {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 40px;
  color: #e2acdb;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.artist-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.artist-item {
  text-align: center;
  padding: 20px;
}

.artist-item a {
  text-decoration: none; 
  color: inherit; 
  display: block; 
}

.artist-item a:hover {
text-decoration: none;

}

.artist-item img {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-style: solid;
  border-color: black;
}

.artist-item h3 {
  margin-top: 10px;
}

/* artists */

.artist-page {
  padding: 20px;
}

.photo-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  grid-gap: 20px; 
  justify-items: center; 
}

.photo-item {
  text-align: center;
}

.photo-item img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.photo-item h3 {
  margin-top: 10px;
  font-weight: bold;
  font-size: 18px;
}
