.footer {
  background-color: #e2acdb;
  color: #fff;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 25px 0 rgb(117, 110, 110);
}

.footer h4 {
  font-weight: bold;
}

.footer p {
  margin: 0;
}