.contact-heading {
  color: #e2acdb;
  display: flex;
  text-align: center;
  margin-top: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.google-maps-container {
  margin: 50px; 
}
