.contact-heading {
  color: pink;
  display: flex;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.google-maps-container {
  margin: 3rem 8rem 3rem; 
}

@media (max-width: 768px) {
  .google-maps-container {
    margin: 3rem 1.5rem 3rem;
  }
}
