.header {
  background-color: #f3ceee;
  color: #fff;
  padding: 30px;
  display: flex;
  justify-content: space-between; 
  align-items: center; 
}

.rotating-cherry {
  justify-content: center;
  width: 100px; 
  height: 100px;
  animation: rotate; 
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex; 
}

.header nav ul li {
  margin-right: 20px;
}

.header nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: large;
}

.header nav ul li a:hover {
  color: #ff9f00;
}

.header-icons {
  display: flex;
  align-items: center; 
}

.header-icons a {
  padding-right: 25px; 
}

.header-icons .icon {
  font-size: 23px;
  color: #fff;
}

.header-icons .icon:hover {
  color: #ff9f00;
}