/* @media (max-width: 768px) {
  .mobile-menu-icon {
    display: block;
    cursor: pointer; 
    padding: 10px; 
  }

  .nav-shift ul {
    display: none; 
    z-index: 2;
    list-style: none;
  }

.header-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.header-icons a {
  text-decoration: none;
  color: #e2acdb;
  font-weight: 500;
  text-transform: uppercase;
  padding: 10px;
  position: relative;
  display: inline-block;
  transition: color 0.3s;
  font-size: 30px;
  margin-right: 25px;
}

.header-icons a::before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%) scaleX(0);
  width: 100%;
  height: 2px;
  background: #e2acdb;
  transform-origin: center;
  transition: transform 0.3s;
}

.header-icons a:hover {
  color: #e2acdb;
}

.header-icons a:hover::before {
  transform: translateX(-50%) scaleX(1);
}

  .header.active .nav-shift ul {
    display: flex; 
    flex-direction: column;
    align-items: center;
    background: #fff; 
  }

  .header.active .header-icons {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;

  }
}


@media (min-width: 769px) {
  .mobile-menu-icon {
    display: none; 
  }

  .nav-shift ul {
    display: flex; 
    
  }

.header-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.header-icons a {
  text-decoration: none;
  color: #e2acdb;
  font-weight: 500;
  text-transform: uppercase;
  padding: 10px;
  position: relative;
  display: inline-block;
  transition: color 0.3s;
  font-size: 30px;
  margin-right: 25px;
}
.header-icons a::before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%) scaleX(0);
  width: 100%;
  height: 2px;
  background: #e2acdb;
  transform-origin: center;
  transition: transform 0.3s;
}

.header-icons a:hover {
  color: #e2acdb;
}

.header-icons a:hover::before {
  transform: translateX(-50%) scaleX(1);
}
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.show-cherry .rotating-cherry {
  display: block;
}

.rotating-cherry {
  display: block;
  justify-content: center;
  width: 100px;
  height: 100px;
  animation: rotate;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-grow: 1;
}

.header nav ul li {
  margin: 0 10px;
}

.header nav ul li a {
  text-decoration: none;
  color: #e2acdb;
  font-weight: 500;
  text-transform: uppercase;
  padding: 10px;
  position: relative;
  display: inline-block;
  transition: color 0.3s;
}

.header nav ul li a:after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #e2acdb;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s;
}

.header nav ul li a:hover:after {
  transform: scaleX(1);
}

.header-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.header-icons a {
  text-decoration: none;
  color: #e2acdb;
  font-weight: 500;
  text-transform: uppercase;
  padding: 10px;
  position: relative;
  display: inline-block;
  transition: color 0.3s;
  font-size: 30px;
  margin-right: 25px;
}

.header-icons a::before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%) scaleX(0);
  width: 100%;
  height: 2px;
  background: #e2acdb;
  transform-origin: center;
  transition: transform 0.3s;
}

.header-icons a:hover {
  color: #e2acdb;
}

.header-icons a:hover::before {
  transform: translateX(-50%) scaleX(1);
} 

.mobile-icons {
  list-style: none; 
}

.mobile-icons li {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.mobile-icons a {
  text-decoration: none;
  color: #e2acdb;
  font-weight: 500;
  text-transform: uppercase;
  padding: 10px;
  position: relative;
  display: inline-block;
  transition: color 0.3s;
  margin-left: 10px; 
}

.mobile-icons a::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #e2acdb;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s;
}

.mobile-icons a:hover::after {
  transform: scaleX(1);
} */

@media (max-width: 768px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .show-cherry .rotating-cherry {
    display: block;
    justify-content: center;
    width: 100px;
    height: 100px;
    animation: rotate;
  }

  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .nav-shift ul {
    display: none;
    z-index: 2;
    list-style: none;
  }

  .header.active .nav-shift ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
  }

  .header.active .header-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }

  .mobile-menu-icon {
    display: block;
    cursor: pointer;
    padding: 10px;
  }

  .mobile-icons {
    list-style: none;
  }

  .mobile-icons li {
    display: flex;
    align-items: center;
    padding: 10px 0;
  }

  .mobile-icons a {
    text-decoration: none;
    color: pink;
    font-weight: 500;
    text-transform: uppercase;
    padding: 10px;
    position: relative;
    display: inline-block;
    transition: color 0.3s;
    margin-left: 10px;
  }

  .mobile-icons a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background: pink;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s;
  }

  .mobile-icons a:hover::after {
    transform: scaleX(1);
  }
}

@media (min-width: 769px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-grow: 1;
  }

  .header nav ul li {
    margin: 0 10px;
  }

  .header nav ul li a {
    text-decoration: none;
    color: pink;
    font-weight: 500;
    text-transform: uppercase;
    padding: 10px;
    position: relative;
    display: inline-block;
    transition: color 0.3s;
  }

  .header nav ul li a:after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background: pink;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s;
  }

  .header nav ul li a:hover:after {
    transform: scaleX(1);
  }

  .header .show-cherry .rotating-cherry {
    display: block;
    width: 100px;
    height: 100px;
    animation: rotate;
  }

  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .header-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .header-icons a {
    text-decoration: none;
    color: pink;
    font-weight: 500;
    text-transform: uppercase;
    padding: 10px;
    position: relative;
    display: inline-block;
    transition: color 0.3s;
    font-size: 30px;
    margin-right: 25px;
  }

  .header-icons a::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%) scaleX(0);
    width: 100%;
    height: 2px;
    background: pink;
    transform-origin: center;
    transition: transform 0.3s;
  }

  .header-icons a:hover {
    color: pink;
  }

  .header-icons a:hover::before {
    transform: translateX(-50%) scaleX(1);
  }
}

@media (max-width: 768px) {
  .burger-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end; 
    padding: 0 20px; 
    color: pink; 
    cursor: pointer;
  }

  
  .burger-menu .styled-burger {
    color: pink; 
    cursor: pointer;
  }

  .nav-shift ul {
    display: none;
    z-index: 2;
    list-style: none;
  }

  .mobile-icons a {
    color: pink; 
    font-weight: 500;
    text-transform: uppercase;
    padding: 10px;
    position: relative;
    display: inline-block;
    transition: color 0.3s;
    margin-left: 10px;
  }

  .mobile-icons a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background: pink; 
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s;
  }

  .mobile-icons a:hover::after {
    transform: scaleX(1);
  }
}
